{% load static %} <!-- Generates the absolute URL of static files. -->
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'downlink/style.css' %}">
    <title>Page title</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <div class="cols">
        <div class="headerA">
          <h1>Data Frame</h1>
        </div>
        <div class="headerB">
          <img alt="VESSL logo" src="{% static 'downlink/images/vessl_logo_small.png' %}">
        </div>
      </div>
    </header>

    {{ downlink_table | safe }}

    <footer>
      <div class="cols">
        <div class="footerA">
          <h2>Footer</h2>
        </div>
        <div class="footerB">
          <img alt="TU Delft logo" src="{% static 'downlink/images/tu_logo_small.png' %}">
        </div>
      </div>
    </footer>
  </body>
</html>

